      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">© 2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="../views/js/jquery.min.js"></script>
      <script src="../views/js/popper.min.js"></script>
      <script src="../views/js/bootstrap.bundle.min.js"></script>
      <script src="../views/js/jquery-3.0.0.min.js"></script>
      <script src="../views/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="../views/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="../views/js/custom.js"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script>
   </body>
</html>